* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.section {
  padding: 5rem 10rem;
  text-align: center; }

body {
  font-family: 'Raleway', 'Lato', sans-serif; }

.heading-primary {
  font-family: 'Lato', 'Raleway', sans-serif;
  color: #EBE9E9;
  width: 100%; }
  .heading-primary--h1 {
    display: block;
    font-size: 4.5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-bottom: .2rem;
    padding: 1rem 3rem 1rem 2rem;
    font-weight: 900;
    background-color: rgba(3, 2, 2, 0.7);
    width: 90%; }
  .heading-primary--text {
    text-transform: uppercase;
    display: block;
    line-height: 1.5;
    letter-spacing: .2rem;
    font-weight: 600;
    font-size: 3rem;
    background-color: rgba(3, 2, 2, 0.8);
    padding: 0 2rem 1rem 4rem;
    margin-left: 2rem;
    width: 90%; }
  .heading-primary--highlight {
    color: #8D8B8B;
    display: inline-block;
    transition: all .2s;
    margin-left: 1rem; }
    .heading-primary--highlight:hover {
      transform: scale(1.1) rotate(5deg); }

.heading-secondary {
  display: inline-block;
  width: 50%;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1.7;
  letter-spacing: 1rem;
  text-shadow: 0 0.5rem 2.5rem rgba(255, 255, 255, 0.4);
  transition: all .2s; }
  .heading-secondary:hover {
    transform: scale(1.5) rotate(5deg);
    text-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.4); }
  .heading-secondary__projects {
    text-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.4); }
    .heading-secondary__projects:hover {
      text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }

.margin-bottom-small {
  margin-bottom: 2rem !important; }

.margin-bottom-medium {
  margin-bottom: 4rem !important; }

.margin-bottom-big {
  margin-bottom: 8rem !important; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  padding: 2rem 6.5rem 2rem 5rem;
  border-radius: 300rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
  transition: all .2s;
  box-shadow: 0 0.3rem 2rem rgba(255, 255, 255, 0.5); }

.btn:hover {
  transform: translate(-50%, -0.5rem);
  box-shadow: 0 0.6rem 2.5rem rgba(255, 255, 255, 0.5); }

.btn:active {
  transform: translate(-50%, -0.3rem);
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.5); }

.btn__arrow {
  display: inline-block;
  font-size: 1.8rem;
  position: absolute;
  top: 2.2rem;
  left: 17rem;
  margin-left: 1rem; }
  .btn__arrow--white {
    top: 1.5rem;
    left: 18rem; }

.btn-white {
  background-color: #EBE9E9;
  color: #000; }

.btn-dark {
  background-color: #030202;
  color: #EBE9E9;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.5) !important; }
  .btn-dark:hover {
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5) !important; }
  .btn-dark:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5) !important; }

.btn-header {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, 0);
  line-height: 2rem; }

.btn-projects:hover {
  transform: skew(-5.5deg) translate(0, 1rem); }

.btn-projects:active {
  transform: skew(-5.5deg) translate(0, 1.5rem); }

.parallax {
  background-image: linear-gradient(to right, rgba(25, 25, 25, 0.85), rgba(3, 2, 2, 0.85)), url("../../img/not-sorted/anders-jilden-239-unsplash.jpg");
  background-size: cover;
  background-position: top;
  height: 100vh;
  margin-top: -10vh; }

.card {
  height: 30rem;
  border-radius: 5px;
  border: 1px solid black; }

.row {
  max-width: 114rem;
  position: relative;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (6rem * 2)) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 6rem * 2) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (6rem * 3)) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 6rem * 3) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 6rem * 3) / 4) + (6rem * 2)); }

.header {
  height: 100vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
  background-image: linear-gradient(to right, rgba(25, 25, 25, 0.85), rgba(3, 2, 2, 0.85)), url("../img/not-sorted/fabian-grohs-610515-unsplash.jpg");
  background-size: cover;
  position: relative; }
  .header__box {
    width: 80%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-30%); }

.section-about {
  background-image: linear-gradient(to right bottom, #191919, #030202);
  margin-top: -10vh;
  padding: 15rem 10rem 20rem 10rem;
  color: #EBE9E9;
  text-align: center;
  transform: skewY(5.5deg); }
  .section-about__picture {
    display: block;
    float: left; }
    .section-about__picture--img {
      background-color: #575757;
      border-radius: 50%;
      display: inline-block;
      width: 25rem;
      height: 25rem; }
  .section-about__text {
    display: block;
    float: left;
    position: absolute;
    top: 8rem;
    left: 40rem;
    text-align: left;
    font-size: 1.7rem;
    letter-spacing: .2rem; }
  .section-about--h3 {
    display: inline-block;
    font-size: 5rem;
    position: absolute;
    top: 1rem;
    left: 30rem; }
  .section-about > * {
    transform: skewY(-5.5deg); }

.section-projects {
  margin-top: -10vh;
  padding: 10rem 10rem 20rem 10rem;
  transform: skewY(5.5deg);
  position: relative;
  background-image: linear-gradient(to right bottom, #575757, #191919); }
  .section-projects > * {
    transform: skewY(-5.5deg); }
