* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

.section {
  padding: 5rem 10rem;
  text-align: center; }

::selection {
  background-color: #EBE9E9;
  color: #191919; }

body {
  font-family: 'Raleway', 'Lato', sans-serif; }

.heading-primary {
  font-family: 'Lato', 'Raleway', sans-serif;
  color: #EBE9E9;
  width: 100%; }
  .heading-primary--h1 {
    display: inline-block;
    font-size: 5.5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-bottom: .2rem;
    padding: 1rem 3rem 1rem 2rem;
    font-weight: 900;
    background-color: rgba(3, 2, 2, 0.7); }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--h1 {
        font-size: 4.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--h1 {
        font-size: 3.5rem;
        letter-spacing: .2rem; } }
    @media only screen and (max-width: 700px) and (max-height: 550px) {
      .heading-primary--h1 {
        font-size: 4rem; } }
  .heading-primary--text {
    text-transform: uppercase;
    display: inline-block;
    line-height: 1.5;
    letter-spacing: .2rem;
    font-weight: 600;
    font-size: 3rem;
    background-color: rgba(3, 2, 2, 0.8);
    padding: 0 2rem 1rem 4rem;
    margin-left: 2rem;
    width: 90%; }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--text {
        font-size: 2.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--text {
        font-size: 1.5rem;
        letter-spacing: .2rem; } }
    @media only screen and (max-width: 700px) and (max-height: 550px) {
      .heading-primary--text {
        font-size: 2.5rem; } }
  .heading-primary--highlight {
    color: #8D8B8B;
    display: inline-block;
    transition: all .3s;
    margin-right: 1rem;
    color: #EBE9E9;
    text-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.4);
    background-color: rgba(141, 139, 139, 0.5);
    padding: 0 .5rem;
    border-radius: 3px; }
    .heading-primary--highlight:hover {
      transform: scale(1.1) rotate(5deg); }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--highlight {
        margin-right: 0; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--highlight {
        margin-right: 0; } }

.heading-secondary {
  display: inline-block;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1.7;
  letter-spacing: 1rem;
  text-shadow: 0 0.5rem 2.5rem rgba(235, 233, 233, 0.4);
  transition: all .2s; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.8rem; } }
  @media only screen and (max-width: 26.5625em) {
    .heading-secondary {
      font-size: 2.3rem; } }
  .heading-secondary:hover {
    transform: scale(1.5) rotate(5deg);
    text-shadow: 0 0.5rem 1rem rgba(235, 233, 233, 0.4); }
  .heading-secondary__black {
    text-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.4); }
    .heading-secondary__black:hover {
      text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }
  .heading-secondary__white {
    color: #EBE9E9;
    text-shadow: 0 0.4rem 1rem rgba(235, 233, 233, 0.4); }
    .heading-secondary__white:hover {
      text-shadow: 0 0.5rem 1rem rgba(235, 233, 233, 0.4); }

.heading-tertiary {
  display: inline-block;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 1.7;
  letter-spacing: 1rem;
  text-shadow: 0 0.5rem 2.5rem rgba(235, 233, 233, 0.4);
  transition: all .2s; }
  .heading-tertiary:hover {
    transform: scale(1.5);
    text-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.4); }
  .heading-tertiary__black {
    text-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.4); }
    .heading-tertiary__black:hover {
      text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); }
  .heading-tertiary__white {
    color: #EBE9E9;
    box-shadow: 0 5rem 10rem rgba(255, 255, 255, 0); }

.section-contact__form--input, .section-contact__form--textarea {
  font-size: 2rem;
  color: #EBE9E9;
  font-weight: 200; }

.section-contact__form--textarea {
  text-align: left; }

.footer {
  color: #EBE9E9;
  font-size: 1.7rem; }
  .footer__icons {
    font-size: 3rem; }
  .footer__text {
    text-align: center; }
  .footer__copyrights {
    letter-spacing: .4rem; }
  .footer__link:link, .footer__link:visited, .footer__link:active {
    text-decoration: none;
    color: #8D8B8B;
    font-weight: 900; }
    .footer__link:link:hover, .footer__link:visited:hover, .footer__link:active:hover {
      color: #575757; }
  .footer__link--icon {
    text-decoration: none;
    color: #EBE9E9;
    font-weight: 600; }
    .footer__link--icon:hover {
      color: #8D8B8B; }
  .footer__technologies {
    font-weight: 600; }

.margin-bottom-small {
  margin-bottom: 2rem !important; }

.margin-bottom-medium {
  margin-bottom: 4rem !important; }

.margin-bottom-big {
  margin-bottom: 8rem !important; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  padding: 2rem 6.5rem 2rem 5rem;
  border-radius: 300rem;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 900;
  outline: none;
  transition: all .2s;
  box-shadow: 0 0.3rem 2rem rgba(255, 255, 255, 0.5); }
  @media only screen and (max-width: 37.5em) {
    .btn, .btn:link, .btn:visited {
      font-size: 1rem;
      padding: 1rem 3rem;
      margin-top: 2rem; } }

.btn:hover {
  transform: translate(-50%, -0.5rem);
  box-shadow: 0 0.6rem 2.5rem rgba(255, 255, 255, 0.5); }

.btn:active {
  transform: translate(-50%, -0.3rem);
  box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.5); }

.btn__arrow {
  display: inline-block;
  font-size: 1.8rem;
  position: absolute;
  top: 2.2rem;
  left: 17rem;
  margin-left: 1rem; }
  .btn__arrow--white {
    top: 1.5rem;
    left: 18rem; }
    @media only screen and (max-width: 37.5em) {
      .btn__arrow--white {
        margin-left: 1rem; } }
  @media only screen and (max-width: 37.5em) {
    .btn__arrow {
      top: 1.23rem;
      left: 10.3rem;
      font-size: 1.5rem; } }

.btn--submit {
  margin-top: 4rem;
  transform: translate(0, 0); }
  .btn--submit:hover {
    transform: translate(0.5rem, 1rem) rotate(5deg); }
  .btn--submit:active {
    transform: translate(0rem, 0.5rem) rotate(5deg); }

.btn-white {
  background-color: #EBE9E9;
  color: #000; }

.btn-dark {
  background-color: #030202;
  color: #EBE9E9;
  border: 1px solid #000;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.5) !important; }
  .btn-dark:hover {
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5) !important; }
  .btn-dark:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5) !important; }

.btn-header {
  position: absolute;
  top: 65vh;
  left: 50%;
  transform: translate(-50%, 0);
  line-height: 2rem; }

.btn-projects:hover {
  transform: skew(-5.5deg) translate(0, 1rem); }

.btn-projects:active {
  transform: skew(-5.5deg) translate(0, 1.5rem); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: #EBE9E9;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 5000;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.5); }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-image: radial-gradient(rgba(87, 87, 87, 0.95), rgba(3, 2, 2, 0.95));
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 3000;
  transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 4000;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  color: #EBE9E9;
  font-weight: 100;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #EBE9E9 50%);
  background-size: 230%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    display: inline-block;
    margin-right: 1.5rem; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #191919;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  left: 0; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    display: inline-block;
    background-color: #030202; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(130deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-130deg); }

.parallax {
  background-image: linear-gradient(to right, rgba(25, 25, 25, 0.85), rgba(3, 2, 2, 0.85)), url("https://redvanisation.github.io/personal-portfolio/img/background/nyc-1x.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 130vh;
  margin-top: -15vh; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (max-resolution: 192dpi) and (min-width: 125em) {
    .parallax {
      background-image: linear-gradient(to right, rgba(25, 25, 25, 0.85), rgba(3, 2, 2, 0.85)), url("https://redvanisation.github.io/personal-portfolio/img/background/nyc-2x.jpg"); } }
  @media only screen and (max-width: 75em) {
    .parallax {
      height: 80vh; } }
  @media only screen and (max-width: 56.25em) {
    .parallax {
      height: 100vh; } }

.parallax2 {
  background-image: linear-gradient(to right, rgba(25, 25, 25, 0.8), rgba(3, 2, 2, 0.8)), url("https://redvanisation.github.io/personal-portfolio/img/background/dev-1x.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 130vh;
  -webkit-clip-path: polygon(0 0, 100% 20vh, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 20vh, 100% 100%, 0 100%);
  margin-top: -35vh; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (max-resolution: 192dpi) and (min-width: 125em) {
    .parallax2 {
      background-image: linear-gradient(to right, rgba(25, 25, 25, 0.8), rgba(3, 2, 2, 0.8)), url("https://redvanisation.github.io/personal-portfolio/img/background/dev-2x.jpg"); } }
  @media only screen and (max-width: 75em) {
    .parallax2 {
      height: 80vh;
      -webkit-clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 100%); } }
  @media only screen and (max-width: 56.25em) {
    .parallax2 {
      height: 100vh;
      -webkit-clip-path: polygon(0 0, 100% 12vh, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 12vh, 100% 100%, 0 100%); } }
  @media only screen and (max-width: 37.5em) {
    .parallax2 {
      -webkit-clip-path: polygon(0 0, 100% 7vh, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 7vh, 100% 100%, 0 100%); } }

.card {
  height: 30rem;
  border-radius: 3px;
  overflow: hidden;
  font-size: 1.7rem;
  padding: 2rem 3rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  position: relative;
  transition: all .3s;
  outline: 0.5rem solid #575757;
  outline-offset: .5rem; }
  .card__img {
    position: absolute;
    top: 50%;
    left: 50%;
    backface-visibility: hidden;
    transform: translate(-50%, -50%) scale(2.1);
    transition: all .2s;
    filter: brightness(15%); }
  .card__description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);
    font-size: 1.7rem;
    text-align: center;
    width: 100%;
    padding: 2rem;
    color: #EBE9E9;
    letter-spacing: .2rem;
    backface-visibility: hidden;
    opacity: 1;
    transition: all .5s;
    height: 100%; }
  .card__title {
    opacity: 1;
    display: block;
    font-size: 3rem;
    color: #EBE9E9;
    text-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.4);
    font-family: 'lato', sans-serif;
    font-weight: 900;
    letter-spacing: .6rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -1700%);
    width: 100%; }
  .card__icons {
    font-size: 2.5rem;
    margin-top: 2rem; }
    .card__icons--link:link, .card__icons--link:visited {
      color: #EBE9E9; }
    .card__icons--link:hover {
      color: #8D8B8B; }
    .card__icons--link:not(:last-child) {
      margin-right: 1.5rem; }
  .card:hover {
    transform: translateY(-2rem); }
  .card:hover .card__description {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .card:hover .card__img {
    transform: translate(-50%, -50%) scale(3);
    filter: blur(2px) brightness(20%); }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: 60rem;
      background-color: #191919; } }
  @media only screen and (max-width: 56.25em) and (max-width: 26.5625em), only screen and (hover: none) and (max-width: 26.5625em) {
    .card {
      padding: 0; } }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
      .card__img {
        height: 25%;
        top: 25%; }
      .card__title {
        transform: translate(-50%, -1300%); } }
    @media only screen and (max-width: 56.25em) and (max-width: 37.5em), only screen and (hover: none) and (max-width: 37.5em) {
      .card__title {
        transform: translate(-50%, -2000%);
        font-size: 2.13rem;
        letter-spacing: .5rem; } }
    @media only screen and (max-width: 56.25em) and (max-width: 26.5625em), only screen and (hover: none) and (max-width: 26.5625em) {
      .card__title {
        transform: translate(-50%, -2200%);
        font-size: 2rem; } }
    @media only screen and (max-width: 56.25em) and (max-width: 25.5em), only screen and (hover: none) and (max-width: 25.5em) {
      .card__title {
        letter-spacing: .2rem; } }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
      .card__description {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 3%);
        padding: 2rem 4rem;
        opacity: 1; } }
    @media only screen and (max-width: 56.25em) and (max-width: 37.5em), only screen and (hover: none) and (max-width: 37.5em) {
      .card__description {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 56.25em) and (max-width: 26.5625em), only screen and (hover: none) and (max-width: 26.5625em) {
      .card__description {
        font-size: 1rem;
        padding: 3rem .5rem; } }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
      .card:hover {
        transform: scale(1.08) translateY(-2rem); }
      .card:hover .card__description {
        transform: translate(-50%, 80%) scale(1.1); }
      .card:hover .card__img {
        transform: translateX(-4rem) scale(1.5);
        filter: blur(0) brightness(75%); } }

.footer {
  height: 100%;
  background-image: linear-gradient(to right bottom, #191919, #030202);
  padding: 35rem 10rem 20rem 10rem;
  -webkit-clip-path: polygon(0 0, 100% 20vh, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 20vh, 100% 100%, 0 100%);
  margin-top: -30vh; }
  @media only screen and (max-width: 75em) {
    .footer {
      -webkit-clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 100%); } }
  @media only screen and (max-width: 56.25em) {
    .footer {
      -webkit-clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 100%); } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      -webkit-clip-path: polygon(0 0, 100% 5vh, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 5vh, 100% 100%, 0 100%); } }
  .footer__icons {
    border-top: 1px solid #EBE9E9;
    padding: 2rem 0;
    text-align: center; }
  .footer__link:link, .footer__link:visited, .footer__link:active {
    display: inline-block;
    transition: all .2s; }
    .footer__link:link:hover, .footer__link:visited:hover, .footer__link:active:hover {
      transform: scale(1.1) rotate(5deg); }
  .footer__link--icon {
    display: inline-block;
    transition: all .2s; }
    .footer__link--icon:not(:last-child) {
      margin-right: 1rem; }
    @media only screen and (max-width: 360px) {
      .footer__link--icon {
        margin-right: 1rem;
        margin-left: 1rem;
        margin-top: 2rem; } }
    .footer__link--icon:hover {
      transform: scale(1.5) rotate(15deg); }
  .footer__text {
    border-top: 1px solid #EBE9E9;
    padding: 2rem 0; }
  .footer__copyrights {
    display: block;
    margin-bottom: 2rem; }

.row {
  max-width: 114rem;
  position: relative;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem; } }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 8rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (6rem * 2)) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 6rem * 2) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (6rem * 3)) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 6rem * 3) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 6rem * 3) / 4) + (6rem * 2)); }

.header {
  background-image: linear-gradient(to right, rgba(25, 25, 25, 0.85), rgba(3, 2, 2, 0.85)), url("https://redvanisation.github.io/personal-portfolio/img/background/header-1x.jpg");
  height: 105vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
  background-size: cover;
  position: relative; }
  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), (max-resolution: 192dpi) and (min-width: 125em) {
    .header {
      background-image: linear-gradient(to right, rgba(25, 25, 25, 0.85), rgba(3, 2, 2, 0.85)), url("https://redvanisation.github.io/personal-portfolio/img/background/header-2x.jpg"); } }
  @media only screen and (max-width: 75em) {
    .header {
      height: 90vh;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
  @media only screen and (max-width: 56.25em) {
    .header {
      height: 100vh;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90vh);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90vh); } }
  .header__box {
    width: 80%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-40%); }
    @media screen and (max-width: 700px) and (max-height: 550px) {
      .header__box {
        transform: translateY(-60%); } }

.section-about {
  background-image: linear-gradient(to right bottom, #191919, #030202);
  margin-top: -15vh;
  padding: 10rem 10rem 30rem 10rem;
  color: #EBE9E9;
  text-align: center;
  transform: skewY(5.5deg); }
  @media only screen and (max-width: 75em) {
    .section-about {
      padding: 20rem 10rem 30rem 10rem; } }
  @media only screen and (max-width: 37.5em) {
    .section-about {
      padding: 8rem 10rem 20rem 10rem; } }
  @media only screen and (max-width: 26.5625em) {
    .section-about {
      padding-top: 5rem;
      padding-bottom: 20rem; } }
  .section-about__container {
    padding-top: 10rem;
    padding-bottom: 10rem; }
  .section-about__picture {
    display: block; }
    .section-about__picture--img {
      background-color: #575757;
      border-radius: 2rem;
      display: inline-block;
      width: 25rem;
      height: 25rem;
      box-shadow: 0 0.3rem 2rem rgba(255, 255, 255, 0.5);
      transition: transform .2s;
      position: absolute;
      top: 0;
      left: 13rem; }
      .section-about__picture--img:hover {
        transform: scale(1.2); }
        @media only screen and (max-width: 26.5625em) {
          .section-about__picture--img:hover {
            transform: translate(-50%, -50%) scale(1.2); } }
      @media only screen and (max-width: 37.5em) {
        .section-about__picture--img {
          width: 15rem;
          height: 15rem;
          left: 0; } }
      @media only screen and (max-width: 26.5625em) {
        .section-about__picture--img {
          left: 50%;
          top: 40%;
          transform: translate(-50%, -50%); } }
  .section-about__text {
    display: inline-block;
    position: absolute;
    top: 10rem;
    left: 42rem;
    text-align: left;
    font-size: 1.7rem;
    letter-spacing: .2rem; }
    @media only screen and (max-width: 56.25em) {
      .section-about__text {
        left: 40rem; } }
    @media only screen and (max-width: 37.5em) {
      .section-about__text {
        position: absolute;
        top: 5rem;
        left: 18rem; } }
    @media only screen and (max-width: 26.5625em) {
      .section-about__text {
        top: 130%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 120%;
        text-align: center; } }
  .section-about--h3 {
    display: inline-block;
    font-size: 5rem;
    position: absolute;
    top: 2rem;
    left: 33rem;
    transition: transform .2s;
    color: #EBE9E9;
    text-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.4);
    background-color: rgba(141, 139, 139, 0.5);
    padding: .2rem 1.5rem;
    border-radius: 3px; }
    .section-about--h3:hover {
      transform: scale(1.4) rotate(5deg); }
      @media only screen and (max-width: 26.5625em) {
        .section-about--h3:hover {
          transform: translate(-50%, -50%) scale(1.5) rotate(5deg); } }
    @media only screen and (max-width: 56.25em) {
      .section-about--h3 {
        left: 35rem; } }
    @media only screen and (max-width: 37.5em) {
      .section-about--h3 {
        top: 0;
        left: 12rem;
        font-size: 4rem; } }
    @media only screen and (max-width: 26.5625em) {
      .section-about--h3 {
        top: -20%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem; } }
  .section-about > * {
    transform: skewY(-5.5deg); }

.section-projects {
  margin-top: -15vh;
  padding: 10rem 10rem 10rem 10rem;
  transform: skewY(5.5deg);
  background-image: linear-gradient(to right bottom, #575757, #191919);
  color: #fff;
  position: relative; }
  .section-projects > * {
    transform: skewY(-5.5deg); }
  @media only screen and (max-width: 75em) {
    .section-projects {
      padding: 20rem 10rem; } }

.section-skills {
  padding: 15rem 10rem 35rem 10rem;
  background-color: #EBE9E9;
  margin-top: -10vh; }
  .section-skills__text {
    font-size: 1.7rem; }
  .section-skills [class^="devicon-"] {
    display: inline-block;
    font-size: 8rem;
    line-height: 1.3;
    margin-left: 2rem;
    margin-right: 2rem;
    transition: all .2s; }
    .section-skills [class^="devicon-"]:hover {
      transform: scale(1.5); }
  @media only screen and (max-width: 75em) {
    .section-skills {
      padding: 25rem 10rem 50rem 10rem; } }
  @media only screen and (max-width: 56.25em) {
    .section-skills {
      padding: 20rem 10rem 45rem 10rem; } }
  @media only screen and (max-width: 37.5em) {
    .section-skills {
      padding: 20rem 10rem 30rem 10rem; } }

.section-contact {
  margin-top: -15vh;
  padding: 10rem 10rem 30rem 10rem;
  transform: skewY(5.5deg);
  background-image: linear-gradient(to right bottom, #575757, #191919);
  position: relative; }
  .section-contact > * {
    transform: skewY(-5.5deg); }
  @media only screen and (max-width: 75em) {
    .section-contact {
      padding: 10rem 10rem 40rem 10rem; } }
  @media only screen and (max-width: 56.25em) {
    .section-contact {
      padding: 10rem 10rem 40rem 10rem; } }
  .section-contact__form--label, .section-contact__form--input, .section-contact__form--textarea {
    margin: 0 auto;
    padding: 2rem;
    border-radius: .5rem;
    background-color: transparent;
    transition: transform .2s, border-bottom .4s, border .4s;
    margin-bottom: 3rem;
    outline: none; }
  .section-contact__form--input, .section-contact__form--textarea {
    display: block;
    border: 0.5px solid #EBE9E9;
    width: 60%; }
    @media only screen and (max-width: 37.5em) {
      .section-contact__form--input, .section-contact__form--textarea {
        width: 100%; } }
    .section-contact__form--input:focus, .section-contact__form--input:hover, .section-contact__form--textarea:focus, .section-contact__form--textarea:hover {
      transform: scale(1.1);
      background-color: rgba(25, 25, 25, 0.2); }
  .section-contact__form--label {
    display: inline-block; }
  .section-contact__form--input:focus {
    border-bottom: 2px solid #EBE9E9; }
  .section-contact__form--textarea:focus {
    border-bottom: 2px solid #EBE9E9; }
