@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin txtShadow {
    text-shadow: 0 2rem 4rem rgba($color-black, .4);
}

@mixin boxShadow {
    box-shadow: 0 2rem 4rem rgba($color-black, .5);
}