@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin txtShadowWt {
    text-shadow: 0 .5rem 2.5rem rgba($color-white, .4);
}

@mixin txtShadowBlk {
    text-shadow: 0 .5rem 2.5rem rgba($color-black, .4);
}

@mixin boxShadowBlk {
    box-shadow: 0 2rem 4rem rgba($color-black, .5);
}

@mixin boxShadowWt {
    box-shadow: 0 .3rem 2rem rgba($color-white, .5);
}