@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/buttons";
@import "components/navigation";
@import "components/parallax";
@import "components/card";

@import "layout/footer";
@import "layout/grid";
@import "layout/header";

@import "pages/home";
@import "pages/projects";
@import "pages/resume";

