// for github pages images: https://redvanisation.github.io/personal-portfolio/

.header {
    height: 105vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
    background-image: linear-gradient(to right, rgba($color-primary, .85), rgba($color-primary-dark, .85)), url('https://redvanisation.github.io/personal-portfolio/img/background/header-1x.jpg');
    background-size: cover;
    position: relative;

    
    @include respond(tab-land) {
        height: 85vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    @include respond(tab-port) {
        height: 100vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90vh);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90vh);
    }

    
    &__box {
        width: 80%;
        height: 60%;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-40%);
        
        @media screen and (max-width: 700px) and (max-height: 550px) {
            transform: translateY(-60%);

        }
    }

}

