body{
    font-family: 'Raleway', 'Lato', sans-serif;
}

.heading-primary {
    font-family: 'Lato', 'Raleway', sans-serif;
    color: $color-grey-light;
    width: 100%;
    
    &--h1 {
        display: inline-block;
        font-size: 5.5rem;
        text-transform: uppercase;
        letter-spacing: 1rem;
        margin-bottom: .2rem;
        padding: 1rem 3rem 1rem 2rem;
        font-weight: 900;
        background-color: rgba($color-primary-dark, .7);

        @include respond(tab-port) {
            font-size: 4.5rem;
        }

        @include respond(phone) {
            font-size: 3.5rem;
            letter-spacing: .2rem;
        }

        @media only screen and (max-width: 700px ) and (max-height: 550px) {
            font-size: 4rem;
        }
    }
    
    &--text {
        text-transform: uppercase;
        display: inline-block;
        line-height: 1.5;
        letter-spacing: .2rem;
        font-weight: 600;
        font-size: 3rem;
        background-color: rgba($color-primary-dark, .8);
        padding: 0 2rem 1rem 4rem;
        margin-left: 2rem;
        width: 90%;

        @include respond(tab-port) {
            font-size: 2.5rem;
        }

        @include respond(phone) {
            font-size: 1.5rem;
            letter-spacing: .2rem;
        }

        @media only screen and (max-width: 700px ) and (max-height: 550px) {
            font-size: 2.5rem;
        }

    }

    &--highlight {
        color: $color-grey;
        display: inline-block;
        transition: all .3s;
        margin-right: 1rem;

        color: $color-grey-light;
        @include txtShadowBlk;
        background-color: rgba($color-grey, .5);
        padding: 0 .5rem;
        border-radius: 3px;

        
        &:hover {
            transform: scale(1.1) rotate(5deg);
            // @include txtShadowWt;
        }

        @include respond(tab-port) {
            margin-right: 0;
        }
        
        @include respond(phone) {
            margin-right: 0;
        }

    }
}

.heading-secondary {
    display: inline-block;
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 1.7;
    letter-spacing: 1rem;
    @include txtShadowWt;
    transition: all .3s;

    @include respond(phone) {
        font-size: 2.8rem;
    }

    @include respond(phone-sml) {
        font-size: 2.3rem;
    }

    &:hover {
        transform: scale(1.5) rotate(5deg);
        text-shadow: 0 .5rem 1rem rgba($color-grey-light, .4);

    }

    &__black {
        @include txtShadowBlk;

        &:hover {
            text-shadow: 0 .5rem 1rem rgba($color-black, .4);
        }

    }

    &__white {
        color: $color-grey-light;
        text-shadow: 0 .4rem 1rem rgba($color-grey-light, .4); 

        &:hover {
            text-shadow: 0 .5rem 1rem rgba($color-grey-light, .4);
        }

    }
}

.heading-tertiary {
    display: inline-block;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 1.7;
    letter-spacing: 1rem;
    @include txtShadowWt;
    transition: all .3s;

    &:hover {
        transform: scale(1.5) ;
        text-shadow: 0 .5rem 1rem rgba($color-white, .4);

    }   
    
    &__black {
        @include txtShadowBlk;

        &:hover {
            text-shadow: 0 .5rem 1rem rgba($color-black, .4);
        }

    }

    &__white {
        color: $color-grey-light;
        box-shadow: 0 5rem 10rem rgba($color-white, 0);
    }

    &__center {
        text-align: center;
        display: inline-block;
        margin: 0 auto;

    }
}


.section-contact {
    &__form {

        &--input,
        &--textarea {
            font-size: 2rem;
            color: $color-grey-light;
            font-weight: 200;
        }

        &--textarea {
            text-align: left;
        }


    }
}





.footer {
    color: $color-grey-light;
    font-size: $global-font-size;

    &__icons {
        font-size: 3rem;
    }
    
    &__text {
        text-align: center;
    }
    
    &__copyrights {
        letter-spacing: .4rem;
    }

&__link {
    
        &:link,
        &:visited,
        &:active {
            text-decoration: none;
            color: $color-grey;
            font-weight: 900;
            
            // &:hover {
            //     transform: scale(1.1) rotate(5deg);

            // }

            &:hover {
                color: $color-primary-light;
            }

        }

        &--icon {
            text-decoration: none;
            color: $color-grey-light;
            font-weight: 600;

            &:hover {
                color: $color-grey;
            }
        }
}

    &__technologies {
        font-weight: 600;
    }
}

.resume {


    &__menu {
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: .2rem;
        text-decoration: none;
        color: $color-primary;
        font-size: $global-font-size;
        line-height: 2;


    }

    &__body {
        color: $color-primary;
        font-size: $global-font-size;
        // text-align: center;

        &__head {

            &--h1 {
                @include txtShadowBlk;
                font-weight: 300;
                letter-spacing: .5rem;
                text-transform: uppercase;
                font-size: 5rem;
                margin-bottom: 1rem;
    
            }

            &--h2 {
                @include txtShadowWt;
                font-weight: 300;
                letter-spacing: .5rem;
                text-transform: uppercase;
                color: $color-grey-light;
                margin-left: 1.5rem;

                &:not(:last-child) {
                    margin-bottom: 1rem;
                }

            }

            &--text {
                
            }
        }

        &__topic {


            &--h2 {
                @include txtShadowBlk;
                font-weight: 300;
                letter-spacing: .5rem;
                text-transform: uppercase;
            }
    
            &--h3,
            &--h4 {
                letter-spacing: .1rem;
                text-transform: uppercase;  
            }
            
            &--cer-title {
                text-transform: uppercase;
                letter-spacing: .2rem;         
            }
            
            
            &--h4 {
                font-weight: 500;
                color: $color-primary-light;              
            }
    
            &--text {
                font-size: 1.85rem;
            }
        }
    }
}

#head-email {
    margin-left: 3rem;
}
