// COLOR SCHEME:

// NEW SCHEME:
$color-primary-two: #383838 ;// Dark Grey for BGs

$color-secondary: #ef6817 ; // orange for text backgrounds and breaking

$color-tertiary: #21201f; // black for backgrounds and inverted titles

$color-grey: #5f605d; // grey maybe for menu texts?

$color-grey-light: #727271; // light grey for text color



// OLD SCHEME:

$color-primary: #191919;
$color-primary-light: #575757;
$color-primary-dark: #030202;

// $color-grey: #8D8B8B;
$color-grey-white: #EBE9E9;

$color-white: #fff;
$color-black: #000;

// SECTIONS MARGINS:

$section-margin: 5rem 3rem;

// SECTIONS PADDINGS:

$body-padding: 2rem;

// FONT SIZES:

$global-font-size: 1.7rem;


// GRID:

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

