.btn {
    &,
    &:link,
    &:visited {
        display: inline-block;
        text-transform: uppercase;
        padding: 2rem 6.5rem 2rem 5rem;
        border-radius: 300rem;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 900;
        outline: none;
        transition: all .2s;
        @include boxShadowWt;

        @include respond(phone) {
            font-size: 1rem;
            padding: 1rem 3rem;
            margin-top: 2rem;
        }

    }

    &:hover {
        transform: translate(-50%, -.5rem);
        box-shadow: 0 .6rem 2.5rem rgba($color-white, .5);

    }

    &:active {
        transform: translate(-50%, -.3rem);
        box-shadow: 0 .5rem 1rem rgba($color-white, .5);
    }

    &__arrow {
        display: inline-block;
        font-size: 1.8rem;
        position: absolute;
        top: 2.2rem;
        left: 17rem;
        margin-left: 1rem;

        &--white {
            top: 1.5rem;
            left: 18rem;

            @include respond(phone) {
                margin-left: 1rem;

            }
        }

        @include respond(phone) {
            top: 1.23rem;
            left: 10.3rem;
            font-size: 1.5rem;
        }
    }

    &--submit {
        margin-top: 4rem;
        transform: translate(0, 0);

        &:hover {
            transform: translate(.5rem, 1rem) rotate(5deg);
        }

        &:active {
            transform: translate(0rem, .5rem) rotate(5deg);
        }
    }

    &__about {
        
        display: inline-block;
        margin-top: 1.5rem;
        // margin-left: 1rem;

        @include respond(phablet) {
            margin-top: -.5rem !important;
            padding: 1.5rem 4.5rem 1.5rem 4rem !important;

        }

        @include respond(phone-sml) {
            margin-top: -.5rem !important;
        }

        &:hover {
            transform: translate(0, -.5rem);
        }
        
        &:active {
            transform: translate(0, .1rem);            
        }
    }

}

.btn-white {
    background-color: $color-grey-light;
    color: $color-black;

}

.btn-dark {
    background-color: $color-primary-dark;
    color: $color-grey-light;
    border: 1px solid $color-black;

    box-shadow: 0 1rem 2.5rem rgba($color-black, .5) !important;

    &:hover {
        box-shadow: 0 2rem 4rem rgba($color-black, .5) !important;
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .5) !important;
    }
}

.btn-header {
    position: absolute;
    top: 65vh;
    left: 50%;
    transform: translate(-50%, 0);
    line-height: 2rem;
}

.btn-projects {

    &:hover {
        transform: skew(-5.5deg) translate(0, 1rem);
    }

    &:active {
        transform: skew(-5.5deg) translate(0, 1.5rem);
    }
}