.parallax {
    background-image: linear-gradient(to right, rgba($color-primary, .85), rgba($color-primary-dark, .85)), url('https://redvanisation.github.io/personal-portfolio/img/not-sorted/anders-jilden-239-unsplash.jpg');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 120vh;
    margin-top: -10vh;
    // transform: skewY(-12deg);
    // position: relative;
    // z-index: 9999;

    @include respond(tab-land) {
        height: 80vh;
    }

    @include respond(tab-port) {
        height: 100vh;
    }
}

.parallax2 {
    background-image: linear-gradient(to right, rgba($color-primary, .8), rgba($color-primary-dark, .8)), url('https://redvanisation.github.io/personal-portfolio/img/not-sorted/fabian-grohs-597395-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 120vh;
    -webkit-clip-path: polygon(0 0, 100% 20vh, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 20vh, 100% 100%, 0 100%);
    margin-top: -35vh;

    @include respond(tab-land) {
        height: 80vh;
        -webkit-clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 10vh, 100% 100%, 0 100%);
    }

    @include respond(tab-port) {
        height: 100vh;
        -webkit-clip-path: polygon(0 0, 100% 12vh, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 12vh, 100% 100%, 0 100%);
    }

    @include respond(phone) {
        -webkit-clip-path: polygon(0 0, 100% 7vh, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 7vh, 100% 100%, 0 100%);
    }
}
