* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    // background-color: $color-primary-light;
}

body {
    box-sizing: border-box;
    // padding: 2rem;
}

.section {
    padding: 5rem 10rem;
    text-align: center;
}


// ::selection {
//     background-color: black;
//     color: white;
// }