body{
font-family: 'Raleway', 'Lato', sans-serif;

}

.heading-primary {
    
    font-family: 'Lato', 'Raleway', sans-serif;
    color: $color-grey-light;
    width: 100%;
    
    &--h1 {
        display: block;
        font-size: 4.5rem;
        text-transform: uppercase;
        letter-spacing: 1rem;
        margin-bottom: .2rem;
        padding: 1rem 3rem 1rem 2rem;
        font-weight: 900;
        background-color: rgba($color-primary-dark, .7);
        width: 90%;
    }
    
    &--text {
        text-transform: uppercase;
        display: block;
        // text-align: justify;
        line-height: 1.5;
        letter-spacing: .2rem;
        font-weight: 600;
        font-size: 3rem;
        background-color: rgba($color-primary-dark, .8);
        padding: 0 2rem 1rem 4rem;
        margin-left: 2rem;
        width: 90%;
    }

    &--highlight {
        color: $color-grey;
        display: inline-block;
        transition: all .2s;
        margin-left: 1rem;
        
        &:hover {
            transform: scale(1.1) rotate(5deg);
            // @include txtShadowWt;
        }
    }
}

.heading-secondary {
    display: inline-block;
    width: 50%;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.7;
    letter-spacing: 1rem;
    @include txtShadowWt;
    transition: all .2s;

    &:hover {
        transform: scale(1.5) rotate(5deg);
        text-shadow: 0 .5rem 1rem rgba($color-white, .4);

    }
}