body{
    font-family: 'Raleway', 'Lato', sans-serif;
}

.heading-primary {
    font-family: 'Lato', 'Raleway', sans-serif;
    color: $color-grey-light;
    width: 100%;
    
    &--h1 {
        display: inline-block;
        font-size: 5.5rem;
        text-transform: uppercase;
        letter-spacing: 1rem;
        margin-bottom: .2rem;
        padding: 1rem 3rem 1rem 2rem;
        font-weight: 900;
        background-color: rgba($color-primary-dark, .7);

        @include respond(tab-port) {
            font-size: 4.5rem;
        }

        @include respond(phone) {
            font-size: 3.5rem;
            letter-spacing: .2rem;
        }
    }
    
    &--text {
        text-transform: uppercase;
        display: inline-block;
        // text-align: justify;
        line-height: 1.5;
        letter-spacing: .2rem;
        font-weight: 600;
        font-size: 3rem;
        background-color: rgba($color-primary-dark, .8);
        padding: 0 2rem 1rem 4rem;
        margin-left: 2rem;
        width: 90%;

        @include respond(tab-port) {
            font-size: 2.5rem;
        }

        @include respond(phone) {
            font-size: 1.5rem;
            letter-spacing: .2rem;
        }

    }

    &--highlight {
        color: $color-grey;
        display: inline-block;
        transition: all .3s;
        margin-left: 1rem;
        
        &:hover {
            transform: scale(1.1) rotate(5deg);
            // @include txtShadowWt;
        }

        @include respond(tab-port) {
            margin-left: .5rem;
        }
        
        @include respond(phone) {
            margin-left: .5rem;
        }

    }
}

.heading-secondary {
    display: inline-block;
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 1.7;
    letter-spacing: 1rem;
    @include txtShadowWt;
    transition: all .2s;

    @include respond(phone) {
        font-size: 2.8rem;
    }

    @include respond(phone-sml) {
        font-size: 2.3rem;
    }

    &:hover {
        transform: scale(1.5) rotate(5deg);
        text-shadow: 0 .5rem 1rem rgba($color-white, .4);

    }

    &__black {
        @include txtShadowBlk;

        &:hover {
            text-shadow: 0 .5rem 1rem rgba($color-black, .4);
        }

    }

    &__white {
        color: $color-grey-light;
        text-shadow: 0 .4rem 1rem rgba($color-white, .4); 

        &:hover {
            text-shadow: 0 .5rem 1rem rgba($color-white, .4);
        }

    }
}

.heading-tertiary {
    display: inline-block;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 1.7;
    letter-spacing: 1rem;
    @include txtShadowWt;
    transition: all .2s;

    &:hover {
        transform: scale(1.5) ;
        text-shadow: 0 .5rem 1rem rgba($color-white, .4);

    }   
    
    &__black {
        @include txtShadowBlk;

        &:hover {
            text-shadow: 0 .5rem 1rem rgba($color-black, .4);
        }

    }
}


.section-contact {
    &__form {

        &--input,
        &--textarea {
            font-size: 2rem;
            color: $color-grey;
            // text-align: center;
            font-weight: 200;
        }

        &--textarea {
            text-align: left;
        }


    }
}





.footer {
    color: $color-grey-light;
    font-size: $global-font-size;

    &__icons {
        font-size: 3rem;
    }
    
    &__text {
        text-align: center;
    }
    
    &__copyrights {
        letter-spacing: .4rem;
    }

&__link {
    
        &:link,
        &:visited,
        &:active {
            text-decoration: none;
            color: $color-grey;
            font-weight: 900;
            
            // &:hover {
            //     transform: scale(1.1) rotate(5deg);

            // }

            &:hover {
                color: $color-primary-light;
            }

        }

        &--icon {
            text-decoration: none;
            color: $color-grey-light;
            font-weight: 600;

            &:hover {
                color: $color-grey;
            }
        }
}

    &__technologies {
        font-weight: 600;
    }
}