// for github pages images: https://redvanisation.github.io/personal-portfolio/

.header {
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    (max-resolution: 192dpi) and (min-width: 125em) {
        background-image: linear-gradient(to right, rgba($color-primary, .85), rgba($color-primary-dark, .85)), url('https://redvanisation.github.io/personal-portfolio/img/background/header-2x.jpg');
    }
    background-image: linear-gradient(to right, rgba($color-primary, .85), rgba($color-primary-dark, .85)), url('https://redvanisation.github.io/personal-portfolio/img/background/header-1x.jpg');
    height: 105vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
    background-size: cover;
    position: relative;

    

    
    @include respond(tab-land) {
        height: 90vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    @include respond(tab-port) {
        height: 100vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90vh);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90vh);
    }

    &__logo-box {
        position: absolute;
        top: 2.5rem;
        left: 6rem;

        @include respond(tab-port) {
            left: 4rem;
        }

        @include respond(phone) {
            top: 2rem;
            left: 3rem;
        }

        @include respond(phone-sml) {
            left: 2rem;
        }

        &--logo {
            max-width: 25rem;
            transition: all .3s;
            backface-visibility: hidden;

            @include respond(tab-port) {
                max-width: 20rem;
            }

            @include respond(phone) {
                max-width: 15rem;
            }

            &:hover {
                transform: scale(1.2) rotate(2deg);
            }
        }
    }

    
    &__box {
        width: 80%;
        height: 60%;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-40%);
        
        @media screen and (max-width: 700px) and (max-height: 550px) {
            transform: translateY(-55%);

        }
    }

}

